Subject: {% if action.event.campaign.require_email_confirmation %}Confirm{% else %}Manage{% endif %} your "{{ action.event.campaign.local_title }}" event

<!-- event_email_created.html in the templateset contains the default
     confirmation email for hosts -->

<p>Thanks for setting up a "{{ action.event.campaign.local_title }}" event.  {% if action.event.campaign.require_email_confirmation %}<b>Before anyone can sign up for your event, you'll need to click the link below to access your host tools and confirm your event.</b>
{% else %}
Please click the link below to access your host tools:
{% endif %}

<p><a href="https://{% client_ssl_domain %}/event/{{ action.event.campaign.local_name }}/{{ action.event.id }}/host/?i={{ user|login_string }}&l=1">https://{% client_ssl_domain %}/event/{{ action.event.campaign.local_name }}/{{ action.event.id }}/host/?i={{ user|login_string }}&l=1</a></p>

<p>Please <b>don't forward this email</b>: the link above is personalized, and can be used to manage your event or change your account password.</p>

<p>Thanks again!</p>

<!-- Replacement for unsubscribe -->
<p><small>You're receiving this message because you set up a "{{ action.event.campaign.local_title }}" event.  If you don't want to receive further emails about this event, you can cancel the event using the host tools linked above.</small></p>
